.App {
  background-image: url('fondo.png'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  font-family: Arial, sans-serif;
}

.contenedor {
  background-image: url('fondo.png'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-color: #bde8bb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 40px;
  gap: 15px; 
}

.login, .registro {
  background-color: #ffffffaf;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  text-align: center;
}

.datos input, .login input, .registro input {
  width: 100%;
  height: 25px;
  font-size: 15px;
  padding-left: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.datos button, .login button, .registro button {
  width: 100%;
  height: 30px;
  margin-top: 10px;
  background-color: #279c5c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.datos button:hover, .login button:hover, .registro button:hover {
  background-color: #45a049;
}

.mensaje {
  margin-top: 10px;
  font-weight: bold;
  color: #333;
}

